parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property Omnipay\\\\Denizbank\\\\Gateway\\:\\:\\$endpoint\\.$#"
			count: 1
			path: src/Gateway.php

		-
			message: "#^Else branch is unreachable because ternary operator condition is always true\\.$#"
			count: 1
			path: src/Message/CompletePurchaseRequest.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: src/Message/PurchaseRequest.php

		-
			message: "#^Ternary operator condition is always true\\.$#"
			count: 1
			path: src/Message/RemoteAbstractRequest.php

		-
			message: "#^Method Omnipay\\\\Denizbank\\\\Message\\\\RemoteAbstractResponse\\:\\:getRedirectData\\(\\) should return array but returns null\\.$#"
			count: 1
			path: src/Message/RemoteAbstractResponse.php
